#tableEvents td {
    padding-left: 10px;
}
.dc-chart .pie-slice {
    fill: black;
	font-weight: bold;
}

.dc-chart g.row text {
    fill: black;
	font-weight: bold;
}

div#divEventCount {
	margin-top: 20px;
	margin-left: 5px;
	margin-bottom: 5px;
}
strong.selectorHeader {
	margin-left: 5px;
}
table.dataTable tbody tr {	
	cursor: pointer;
}